
<div class="ccs-contact-us">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="ccs-contact-us-body">
          <strong class="ccs-contact-us-body__problems">
            Having problems with this service?
          </strong>
          <a class="govuk-link" href="/contact-us-now" rel="noreferrer noopener" target="_blank">
            Contact us (opens in a new tab)
          </a>
          
        </p>
      </div>
    </div>
  </div>
</div>
