
<ul class="ccs-password-strength" data-module="ccs-password-strength" data-target="password">

    <li class="ccs-password-strength-test" data-test-type="length" data-test-value="10">
      at least 10 characters
    </li>

    <li class="ccs-password-strength-test" data-test-type="symbol" data-test-value="=+&#92;-^$*.[&#92;]{}()?&quot;!@#%&amp;/&#92;&#92;,&gt;&lt;&#39;:;|_~`">
      at least one symbol (eg ?, !, £, %)
    </li>

    <li class="ccs-password-strength-test" data-test-type="number">
      at least one number
    </li>

    <li class="ccs-password-strength-test" data-test-type="uppercase">
      at least one capital letter
    </li>

    <li class="ccs-password-strength-test" data-test-type="lowercase">
      at least one lowercase letter
    </li>
</ul>
