
<ul class="ccs-password-strength" data-module="ccs-password-strength" data-target="password">

    <li class="ccs-password-strength-test" data-test-type="length" data-test-value="10">
      Custom text for length
    </li>

    <li class="ccs-password-strength-test" data-test-type="symbol" data-test-value="=+&#92;-^$*.[&#92;]{}()?&quot;!@#%&amp;/&#92;&#92;,&gt;&lt;&#39;:;|_~`">
      Custom text for symbol
    </li>

    <li class="ccs-password-strength-test" data-test-type="number">
      Custom text for number
    </li>

    <li class="ccs-password-strength-test" data-test-type="uppercase">
      Custom text for uppercase
    </li>

    <li class="ccs-password-strength-test" data-test-type="lowercase">
      Custom text for lowercase
    </li>
</ul>
